<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <ng-container matColumnDef="First">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> FirstName </th>
    <td mat-cell *matCellDef="let element"> {{ element.First }} </td>
  </ng-container>

  
  <ng-container matColumnDef="Last">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> LastName </th>
    <td mat-cell *matCellDef="let element"> {{ element.Last }} </td>
  </ng-container>

  <ng-container matColumnDef="Nationality">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nationality </th>
    <td mat-cell *matCellDef="let element"> {{ element.Nationality }} </td>
  </ng-container>

  <ng-container matColumnDef="Hole1Strokes">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Hole1Strokes </th>
    <td mat-cell *matCellDef="let element"> {{ element.Hole1Strokes }} </td>
  </ng-container>

  <ng-container matColumnDef="Hole1STP">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Hole1STP </th>
    <td mat-cell *matCellDef="let element"> {{ element.Hole1STP }} </td>
  </ng-container>
  <ng-container matColumnDef="Hole2Strokes">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Hole2Strokes </th>
    <td mat-cell *matCellDef="let element"> {{ element.Hole2Strokes }} </td>
  </ng-container>

  <ng-container matColumnDef="Hole2STP">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Hole2STP </th>
    <td mat-cell *matCellDef="let element"> {{ element.Hole2STP }} </td>
  </ng-container>
  <ng-container matColumnDef="Hole3Strokes">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Hole3Strokes </th>
    <td mat-cell *matCellDef="let element"> {{ element.Hole3Strokes }} </td>
  </ng-container>

  <ng-container matColumnDef="Hole3STP">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Hole3STP </th>
    <td mat-cell *matCellDef="let element"> {{ element.Hole3STP }} </td>
  </ng-container>
  <ng-container matColumnDef="Hole4Strokes">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Hole4Strokes </th>
    <td mat-cell *matCellDef="let element"> {{ element.Hole4Strokes }} </td>
  </ng-container>

  <ng-container matColumnDef="Hole4STP">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Hole4STP </th>
    <td mat-cell *matCellDef="let element"> {{ element.Hole4STP }} </td>
  </ng-container>
  <ng-container matColumnDef="Hole5Strokes">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Hole5Strokes </th>
    <td mat-cell *matCellDef="let element"> {{ element.Hole5Strokes }} </td>
  </ng-container>

  <ng-container matColumnDef="Hole5STP">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Hole5STP </th>
    <td mat-cell *matCellDef="let element"> {{ element.Hole5STP }} </td>
  </ng-container>
  <ng-container matColumnDef="Hole6Strokes">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Hole6Strokes </th>
    <td mat-cell *matCellDef="let element"> {{ element.Hole6Strokes }} </td>
  </ng-container>

  <ng-container matColumnDef="Hole6STP">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Hole6STP </th>
    <td mat-cell *matCellDef="let element"> {{ element.Hole6STP }} </td>
  </ng-container>

  <ng-container matColumnDef="Hole7Strokes">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Hole7Strokes </th>
    <td mat-cell *matCellDef="let element"> {{ element.Hole7Strokes }} </td>
  </ng-container>

  <ng-container matColumnDef="Hole7STP">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Hole7STP </th>
    <td mat-cell *matCellDef="let element"> {{ element.Hole7STP }} </td>
  </ng-container>


  <ng-container matColumnDef="Hole8Strokes">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Hole8Strokes </th>
    <td mat-cell *matCellDef="let element"> {{ element.Hole8Strokes }} </td>
  </ng-container>

  <ng-container matColumnDef="Hole8STP">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Hole8STP </th>
    <td mat-cell *matCellDef="let element"> {{ element.Hole8STP }} </td>
  </ng-container>
  <ng-container matColumnDef="Hole9Strokes">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Hole9Strokes </th>
    <td mat-cell *matCellDef="let element"> {{ element.Hole9Strokes }} </td>
  </ng-container>

  <ng-container matColumnDef="Hole9STP">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Hole9STP </th>
    <td mat-cell *matCellDef="let element"> {{ element.Hole9STP }} </td>
  </ng-container>
  <ng-container matColumnDef="OutStrokes">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Out Strokes </th>
    <td mat-cell *matCellDef="let element"> {{ element.OutStrokes }} </td>
  </ng-container>

  <ng-container matColumnDef="OutSTP">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Out STP </th>
    <td mat-cell *matCellDef="let element"> {{ element.OutSTP }} </td>
  </ng-container>
  <ng-container matColumnDef="Hole10Strokes">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Hole10Strokes </th>
    <td mat-cell *matCellDef="let element"> {{ element.Hole10Strokes }} </td>
  </ng-container>

  <ng-container matColumnDef="Hole10STP">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Hole10STP </th>
    <td mat-cell *matCellDef="let element"> {{ element.Hole10STP }} </td>
  </ng-container>
  <ng-container matColumnDef="Hole11Strokes">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Hole11Strokes </th>
    <td mat-cell *matCellDef="let element"> {{ element.Hole11Strokes }} </td>
  </ng-container>

  <ng-container matColumnDef="Hole11STP">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Hole11STP </th>
    <td mat-cell *matCellDef="let element"> {{ element.Hole11STP }} </td>
  </ng-container>
  <ng-container matColumnDef="Hole12Strokes">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Hole12Strokes </th>
    <td mat-cell *matCellDef="let element"> {{ element.Hole12Strokes }} </td>
  </ng-container>

  <ng-container matColumnDef="Hole12STP">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Hole12STP </th>
    <td mat-cell *matCellDef="let element"> {{ element.Hole12STP }} </td>
  </ng-container>
  <ng-container matColumnDef="Hole13Strokes">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Hole13Strokes </th>
    <td mat-cell *matCellDef="let element"> {{ element.Hole13Strokes }} </td>
  </ng-container>

  <ng-container matColumnDef="Hole13STP">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Hole13STP </th>
    <td mat-cell *matCellDef="let element"> {{ element.Hole13STP }} </td>
  </ng-container>
  <ng-container matColumnDef="Hole14Strokes">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Hole14Strokes </th>
    <td mat-cell *matCellDef="let element"> {{ element.Hole14Strokes }} </td>
  </ng-container>

  <ng-container matColumnDef="Hole14STP">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Hole14STP </th>
    <td mat-cell *matCellDef="let element"> {{ element.Hole14STP }} </td>
  </ng-container>
  <ng-container matColumnDef="Hole15Strokes">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Hole15Strokes </th>
    <td mat-cell *matCellDef="let element"> {{ element.Hole15Strokes }} </td>
  </ng-container>

  <ng-container matColumnDef="Hole15STP">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Hole15STP </th>
    <td mat-cell *matCellDef="let element"> {{ element.Hole15STP }} </td>
  </ng-container>

  <ng-container matColumnDef="Hole16Strokes">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Hole16Strokes </th>
    <td mat-cell *matCellDef="let element"> {{ element.Hole16Strokes }} </td>
  </ng-container>

  <ng-container matColumnDef="Hole16STP">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Hole16STP </th>
    <td mat-cell *matCellDef="let element"> {{ element.Hole16STP }} </td>
  </ng-container>

  <ng-container matColumnDef="Hole17Strokes">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Hole17Strokes </th>
    <td mat-cell *matCellDef="let element"> {{ element.Hole17Strokes }} </td>
  </ng-container>

  <ng-container matColumnDef="Hole17STP">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Hole17STP </th>
    <td mat-cell *matCellDef="let element"> {{ element.Hole17STP }} </td>
  </ng-container>

  <ng-container matColumnDef="Hole18Strokes">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Hole18Strokes </th>
    <td mat-cell *matCellDef="let element"> {{ element.Hole18Strokes }} </td>
  </ng-container>

  <ng-container matColumnDef="Hole18STP">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Hole18STP </th>
    <td mat-cell *matCellDef="let element"> {{ element.Hole18STP }} </td>
  </ng-container>

  <ng-container matColumnDef="InStrokes">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> In Strokes </th>
    <td mat-cell *matCellDef="let element"> {{ element.InStrokes }} </td>
  </ng-container>

  <ng-container matColumnDef="InSTP">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> In STP </th>
    <td mat-cell *matCellDef="let element"> {{ element.InSTP }} </td>
  </ng-container>

  <ng-container matColumnDef="TotalStrokes">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Strokes </th>
    <td mat-cell *matCellDef="let element"> {{ element.TotalStrokes }} </td>
  </ng-container>

  <ng-container matColumnDef="TotalSTP">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Total STP </th>
    <td mat-cell *matCellDef="let element"> {{ element.TotalSTP }} </td>
  </ng-container>

  <ng-container matColumnDef="tournamentID">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tournament ID </th>
    <td mat-cell *matCellDef="let element"> {{ element.tournamentID }} </td>
  </ng-container>

  <ng-container matColumnDef="round">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Round </th>
    <td mat-cell *matCellDef="let element"> {{ element.round }} </td>
  </ng-container>

  <ng-container matColumnDef="orderInMatch">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> orderInMatch </th>
    <td mat-cell *matCellDef="let element"> {{ element.orderInMatch }} </td>
  </ng-container>

  <ng-container matColumnDef="lastUpdated">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> lastUpdated </th>
    <td mat-cell *matCellDef="let element"> {{ element.lastUpdated }} </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> status </th>
    <td mat-cell *matCellDef="let element"> {{ element.status }} </td>
  </ng-container>

  <ng-container matColumnDef="leaderboardID">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> leaderboardID </th>
    <td mat-cell *matCellDef="let element"> {{ element.leaderboardID }} </td>
  </ng-container>

  <ng-container matColumnDef="teeStart">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> teeStart </th>
    <td mat-cell *matCellDef="let element"> {{ element.teeStart }} </td>
  </ng-container>

  <ng-container matColumnDef="teeTime">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> teeTime </th>
    <td mat-cell *matCellDef="let element"> {{ element.teeTime }} </td>
  </ng-container>

  <ng-container matColumnDef="holesPlayed">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> holesPlayed </th>
    <td mat-cell *matCellDef="let element"> {{ element.holesPlayed }} </td>
  </ng-container>

  <ng-container matColumnDef="course">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> course </th>
    <td mat-cell *matCellDef="let element"> {{ element.course }} </td>
  </ng-container>

  <ng-container matColumnDef="matchID">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> matchID </th>
    <td mat-cell *matCellDef="let element"> {{ element.matchID }} </td>
  </ng-container>

  <ng-container matColumnDef="Amature">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Amature </th>
    <td mat-cell *matCellDef="let element"> {{ element.Amature }} </td>
  </ng-container>

  <ng-container matColumnDef="isTeam">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> isTeam </th>
    <td mat-cell *matCellDef="let element"> {{ element.isTeam }} </td>
  </ng-container>

  <ng-container matColumnDef="CalculatedRankInteger">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> CalculatedRankInteger </th>
    <td mat-cell *matCellDef="let element"> {{ element.CalculatedRankInteger }} </td>
  </ng-container>

  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> position </th>
    <td mat-cell *matCellDef="let element"> {{ element.position }} </td>
  </ng-container>

  <ng-container matColumnDef="UniquePosition">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> UniquePosition </th>
    <td mat-cell *matCellDef="let element"> {{ element.UniquePosition }} </td>
  </ng-container>

  <ng-container matColumnDef="TVName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> TVName </th>
    <td mat-cell *matCellDef="let element"> {{ element.TVName }} </td>
  </ng-container>

  <ng-container matColumnDef="Eastern">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Eastern </th>
    <td mat-cell *matCellDef="let element"> {{ element.Eastern }} </td>
  </ng-container>

  <ng-container matColumnDef="Handicap">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Handicap </th>
    <td mat-cell *matCellDef="let element"> {{ element.Handicap }} </td>
  </ng-container>

  <ng-container matColumnDef="SortPriority">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> SortPriority </th>
    <td mat-cell *matCellDef="let element"> {{ element.SortPriority }} </td>
  </ng-container>

  <ng-container matColumnDef="Sex">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Sex </th>
    <td mat-cell *matCellDef="let element"> {{ element.Sex }} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

